.Element {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 50;

    margin-left: auto;
    margin-right: auto;

    font-weight: 800;
    color: rgba(255, 255, 255, 0.829);
    border-radius: 10px;
    margin-top: 50px;

    background: #781edc;
    padding: 10px;
    outline: 1px solid rgba(38, 48, 63, 0.404);
    box-shadow: 0px 0px 70px 7px rgba(0, 0, 0, 0.404);

    .options {
        max-height: 0;
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.9rem;
        transform: scaleY(0);
        transform-origin: top;
        background-color:#781edc;
        width: 80%;
        border-radius: 10px;
        color:  rgba(255, 255, 255, 0.829);
        transition: all ease 0.3s;
        .buttons {
            display: flex;
            justify-content: center;
            button {
                cursor: pointer;
                background-color: rgba(255, 255, 255, 0);
                border: none;
                font-size: 1.5rem;
                color: rgba(255, 255, 255, 0.829);
                transition: all 0.3s ease-in-out;
                

                &:hover{
                    font-size: 1.2rem;
                }
            }
        }

    }

}


.Element:hover .options {
    transform: scaleY(1);
    max-height: 80vh;
    font-size: 0.9rem;
    opacity: 100%;
    padding: 10px 20px;
}