.Form{
    background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/dark_dotted2.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}